<center><h3 class="lead">You Tweets</h3></center>
<div class="jumbotron" style="overflow-y:auto;height:200px;">
<% @tweets.each do |t| %>
        <div class="col-lg-6">
          <h4><%= t.created_at %></h4>
          <p><%= t.text %></p>
          <hr style="border-color:green;"> 
         </div>
<% end %>
</div>
<br>
<center>
<div class="container">
<a href="/tweets" class="btn btn-lg btn-success">Get the tweets with URL</a>
</div>
</center>